#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    flex-basis: 18%;
}

.on {
    display: block;
}

.off {
    display: none;
}
